* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common =======================================*/
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
}
.btn {
  background: #2e80ce;
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
/* header ====================================== */
.header {
  background-color: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.navbar_link {
  color: #c9d2da;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}
.navbar_link:hover,
.navbar_link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar_link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  right: 8px;
  top: -3px;
  position: relative;
}
.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
/* hero ======================================*/
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  margin-top: 22px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
.hero__imgages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* service===================================== */
.service {
  padding: 170px 0;
  background-color: #fff;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 18px auto 0;
}
.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  width: 470px;
  display: flex;
  padding: 21px;
  background: #fff;
  border-radius: 10px;
  transition: 0.25s;
}
.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.2);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  color: #575f66;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 8px;
}
.service__btn {
  margin-top: 55px;
}
/* work================================================= */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}
.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}
.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
/* about===================================== */
.about {
  padding: 85px 0 206px;
  margin-top: 85px;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about_img {
  position: relative;
}
.about__img--big {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}
.about__img--small {
  position: absolute;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  top: 121px;
  left: 238px;
}
.about-content__btn {
  margin-top: 38px;
}
